<head>
<script type="text/javascript">
  var ls = navigator.languages;
  for(var i in ls){
    if(ls[i].startsWith("en")) {location.href="en/index.html";break;}
    if(ls[i].startsWith("zh")) {location.href="zh/index.html";break;}
  }
</script>
</head>
